<h3 class="center"><%= "#{@endpoint.method} #{@endpoint.path}" %></h3>
<p><%= @endpoint.description %></p>

<%= link_to "Edit Endpoint", edit_endpoint_path(@endpoint), class: "btn btn-primary" %>

<h4>Parameters</h4>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th>Location</th>
    </tr>
    </thead>
<% @endpoint.parameter_references.each do |parameter_reference| %>
    <tr>
        <td><%= parameter_reference.parameter.name %></td>
        <td><%= parameter_reference.parameter.data_type %></td>
        <td><%= parameter_reference.description %></td>
        <td><%= parameter_reference.location %></td>
    </tr>
<% end %>
</table>