<h4 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">
  <%= "#{@endpoint.method} #{@endpoint.path}" %>
</h4>

<span class="flex flex-row font-normal mt-0 space-x-8 rtl:space-x-reverse text-lg text-gray-500 dark:text-gray-400">
  <%= @endpoint.description %>
</span>

<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
        <li><%= link_to "Parameters", '#', class: "text-gray-900 dark:text-white hover:underline" %></li>
        <li><%= link_to "Requests", '#', class: "text-gray-900 dark:text-white hover:underline"  %></li>
        <li><%= link_to "Responses", '#', class: "text-gray-900 dark:text-white hover:underline"  %></li>
        <li><%= link_to "Rate Limits", '#', class: "text-gray-900 dark:text-white hover:underline"  %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="mb-5 mt-5">
  <% if user_signed_in? && current_user.platform_admin? %>
    <%= link_to "Edit Endpoint", edit_endpoint_path(@endpoint), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
  <% end %>
</div>

<h4 class="mb-5 center text-2xl font-bold dark:text-white">Parameters</h4>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Description</th>
        <th scope="col" class="px-6 py-3">Location</th>
      </tr>
    </thead>
    <% @endpoint.parameter_references.each do |parameter_reference| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= parameter_reference.parameter.name %></th>
        <td class="px-6 py-4"><%= parameter_reference.parameter.data_type %></td>
        <td class="px-6 py-4"><%= parameter_reference.description %></td>
        <td class="px-6 py-4"><%= parameter_reference.location %></td>
      </tr>
    <% end %>
  </table>
</div>

<h4 class="mb-5 mt-5 center text-2xl font-bold dark:text-white">Default Request and Response Bodies</h4>
<button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" id="toggle-response-body-view">Toggle</button>
<% @endpoint.responses.each do |code, body| %>
  <h5 class="mb-4 text-xl leading-none tracking-tight text-gray-900 dark:text-white"><%= code %></h5>
  <code class="text-sm sm:text-base inline-flex text-left items-center space-x-4 bg-gray-800 text-white rounded-lg p-4 pl-6">
    <pre>
      <%= render_response_body_schema(body) %>
    </pre>
  </code>
<% end %>