        <tr>
            <td><%= app_membership.user.name %></td>
            <td><%= app_membership.user.email %></td>
            <td><%= app_membership.admin? ? "Admin" : "Read-only" %></td>
            <% if current_user.platform_admin? || (@current_user_membership.admin? && @current_user_membership != app_membership) %>
                <td><%= link_to "Edit Role", edit_developer_app_app_membership_path(app_membership, developer_app_id: @developer_app.id), class: 'btn btn-warning' %></td>
                <td><%= link_to "Remove", developer_app_app_membership_path(app_membership, developer_app_id: @developer_app.id), class: 'btn btn-danger', data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %></td>
            <% else %>
                <td></td>
            <% end %>
        </tr>