<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= app_membership.user.name %>
</th>
    <td class="px-6 py-4"><%= app_membership.user.email %></td>
    <td class="px-6 py-4"><%= app_membership.admin? ? "Admin" : "Read-only" %></td>
    <% if current_user.platform_admin? || (@current_user_membership.admin? && @current_user_membership != app_membership) %>
        <td class="px-6 py-4"><%= link_to "Edit Role", edit_developer_app_app_membership_path(app_membership, developer_app_id: @developer_app.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %></td>
        <td class="px-6 py-4"><%= link_to "Remove", developer_app_app_membership_path(app_membership, developer_app_id: @developer_app.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %></td>
    <% else %>
        <td></td>
    <% end %>
</tr>
