<%= form_with scope: @app_membership, url: developer_app_app_membership_path(developer_app_id: @developer_app.id, id: @app_membership.id), method: :put do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <div class="input-group" style="margin-bottom: 10px">

        <span class="input-group-addon">
            <%= f.check_box :admin %>
        </span>
        <%= f.label :admin, "Make App Admin", style: "display: block", class: 'form-control' %>
    </div>

    <div class="button-box">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= button_to "Cancel", developer_app_path(@app_membership.developer_app, inline: true), class: 'btn btn-warning' %>
    </div>
<% end %>