<%= render 'developer_apps/app_header' %>
<%= turbo_frame_tag("app-members") do %>
<h3 class="mb-5 center text-2xl font-bold dark:text-white">Removed Team Members</h3>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">User</th>
      <th scope="col" class="px-6 py-3">Email</th>
      <th scope="col" class="px-6 py-3">Role</th>
      <th></th>
    </tr>
    </thead>

    <% @app_memberships.each do |app_membership| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= app_membership.user.name %></th>
        <td class="px-6 py-4"><%= app_membership.user.email %></td>
        <td class="px-6 py-4"><%= app_membership.admin? ? "Admin" : "Read-only" %></td>
        <% if current_user.platform_admin? || (@current_user_membership.admin? && @current_user_membership != app_membership) %>
            <td class="px-6 py-4"><%= link_to "Restore", restore_member_path(app_membership, developer_app_id: @developer_app.id), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', data: { "turbo-method": :put, turbo_confirm: "Are you sure?" } %></td>
        <% else %>
            <td class="px-6 py-4"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to developer_app_app_memberships_path(developer_app_id: @developer_app.id), class: "mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
  <svg class="mr-1 rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
  </svg>
  Back
<% end %>
<% end %>