<%= render 'developer_apps/app_header' %>
<h3 class="center">Removed Team Members</h3>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
    <th>User</th>
    <th>Email</th>
    <th>Role</th>
    </tr>
    </thead>

    <% @app_memberships.each do |app_membership| %>
      <tr>
        <td><%= app_membership.user.name %></td>
        <td><%= app_membership.user.email %></td>
        <td><%= app_membership.admin? ? "Admin" : "Read-only" %></td>
        <% if current_user.platform_admin? || (@current_user_membership.admin? && @current_user_membership != app_membership) %>
            <td><%= link_to "Restore", restore_member_path(app_membership, developer_app_id: @developer_app.id), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', data: { "turbo-method": :put, turbo_confirm: "Are you sure?" } %></td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>