
    <%= render 'app_header' %>
    <h3 class="center">Managing Grants For: <%= @developer_app.name %></h3>

    <div class="row center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <%= form_for @developer_app do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                    <%= hidden_field_tag "developer_app[endpoint_ids][]", nil %>
                    <% @endpoints.each do |endpoint| %>
                        <div class="input-group" style="margin-bottom: 10px">
                            <span class="input-group-addon">
                                <%= check_box_tag "developer_app[endpoint_ids][]", endpoint.id, f.object.endpoints.include?(endpoint) %>
                            </span>
                            <%= label_tag :endpoint_id, "#{endpoint.method} #{endpoint.path}", class: 'form-control' %>
                        </div>
                    <% end %>
                <%= f.submit "Set Grants", class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            <% end %>
        </div>
    </div>
