<h3><%= @developer_app.name %></h3>
<span><strong>Client ID: </strong><%= @developer_app.client_id %></span>
<span><strong>Created: </strong><%= @developer_app.created_at.strftime("%b %d, %Y") %></span>
<span><strong>Status: </strong><%= @developer_app.archived_at? ? "Archived" : "Active" %>

<% if @current_user.platform_admin? || @current_user_membership.admin? %>
    <%= link_to "Edit App", edit_developer_app_path(@developer_app), class: "btn btn-primary" %>
<% end %>

<div class="row">
    <div class="col-lg-6">
    <h4>Grants</h4>

        <% if @developer_app.grants.any? %>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                <th>Endpoint</th>
                </tr>
                </thead>
            <% @endpoints.each do |endpoint| %>
                <tr>
                    <td><%= "#{endpoint.method} #{endpoint.path}" %></td>
                </tr>
            <% end %>
            </table>
        <% else %>
            <p>This app has not been granted any endpoints.</p>
        <% end %>
        <% if user_signed_in? && current_user.platform_admin? %>
            <%= link_to "Manage Grants", "/developer_apps/#{@developer_app.id}/manage_grants", class: 'btn btn-primary' %>
        <% end %>
    </div>
    
    <div class="col-lg-6">
    <h4>Team Members</h4>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
        <th>User</th>
        <th>Role</th>
        </tr>
        </thead>
    <% @app_memberships.each do |app_membership| %>
        <tr>
            <td><%= app_membership.user.name %></td>
            <td><%= app_membership.admin? ? "Admin" : "Read-only" %></td>
        </tr>
    <% end %>
    </table>
    <% if @current_user_membership.admin? %>
        <%= link_to "Add Members", new_developer_app_app_invitation_path(@developer_app.id), class: 'btn btn-primary' %>
    <% end %>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4>Changelog</h4>
        <div>
            <ul>
                <% @developer_app.versions.reverse.each do |version| %>
                    <%= render_changelog_event(version) %>
                <% end %>
            </ul>
        </div>
    </div>
    
    <div class="col-lg-6">

    <% if @current_user.platform_admin? || @current_user_membership.admin? %>
        <h4>Danger Zone</h4>
        <div>
        <% if @developer_app.archived_at? %>
            <%= link_to "Unarchive", unarchive_developer_app_path(@developer_app), class: 'btn btn-warning', data: { "turbo-method": :put, turbo_confirm: "Are you sure?" } %>
        <% else %>
            <%= link_to "Archive", archive_developer_app_path(@developer_app), class: 'btn btn-danger', data: { "turbo-method": :put, turbo_confirm: "Are you sure?" } %>
        <% end %>
        </div>
    <% end %>

    </div>
</div>