<div id="<%= dom_id app_invitation %>">
  <p>
    <strong>Inviter:</strong>
    <%= app_invitation.inviter_id %>
  </p>

  <p>
    <strong>Invitee:</strong>
    <%= app_invitation.invitee_id %>
  </p>

  <p>
    <strong>Invitee email:</strong>
    <%= app_invitation.invitee_email %>
  </p>

  <p>
    <strong>Developer app:</strong>
    <%= app_invitation.developer_app_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= app_invitation.admin %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= app_invitation.status %>
  </p>

</div>
