<%= turbo_frame_tag("app-members") do %>
<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px]">
  <%= form_with(scope: :app_invitation, url: developer_app_app_invitations_path(@developer_app)) do |form| %>
    <% if app_invitation.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(app_invitation.errors.count, "error") %> prohibited this from being saved:</h2>

        <ul>
          <% app_invitation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-5">
      <%= form.label :invitee_email, style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :invitee_email, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <%= form.check_box :admin, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" %>
      </div>
      <div class="ms-2 text-sm">
        <%= form.label :admin, "Make App Admin", class: "block text-sm font-medium text-gray-900 dark:text-white" %>
        <p class="text-xs font-normal text-gray-500 dark:text-gray-300">Admins can edit the developer app and manage members on the team.</p>
      </div>
    </div>
    <div>
        <%= form.submit "Invite", class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <%= link_to "Cancel", developer_app_app_memberships_path(developer_app_id: @developer_app.id), class: 'dark:text-white' %>
    </div>
  <% end %>
  </div>
  </div>
<% end %>